* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0E060A;
}

/* Title Content */

.title-container {
  align-items: center;
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.title {
  color: #FF715B;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  font-weight: 900;
}

sup {
  font-size: .9rem;
}

/* Anchor Elements */

.links {
  margin-top: 2rem;
}

.links a {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: .65rem;
  text-decoration: none;
}

a:hover {
  color: #CDCECA;
}

.shop {
  margin-right: 1.5rem;
}

.about {
  margin-left: 1.5rem;
}

/* Footer Content */

footer {
  align-items: center;
  color: #FF715B;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  font-family: 'Cormorant Garamond', serif;
  justify-content: center;
}

i:hover {
  color: #CDCECA;
}

.fa-instagram, .fa-twitter, .fa-discord {
  color: #FFF;
  margin: .3rem;
}

.trademark {
  margin-top: 1rem;
}
